/* Estilos Main */
.index-main {
  margin: 2rem 0;
}

.servicios-titulo {
  text-align: center;
  margin-bottom: 1rem;
}

.card-herreria, .card-remodelaciones {
    @extend %card;
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-herreria:hover, .card-remodelaciones:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px $sombra-fuerte;
}

.card-herreria img, .card-remodelaciones-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}

.titulo-3 {
  text-align: center;
}

.card-btn {
  width: 100%;
  background-color: $color-marca;
  border: none;
  padding: 0.5rem;
  color: $color-principal;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ultimos-servicios-container, .remodelaciones-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card-herreria h3, .card-herreria p {
  margin-left: 2rem;
}

.carousel-fotos {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.form-contacto {
  background-color: $color-principal;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px $sombra-suave;
  max-width: 500px;
  margin: 2rem auto;
}

.form-contacto .form-label {
  font-weight: 600;
  color: $color-secundario;
}

.form-contacto .form-control {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;
}

.form-contacto .form-control:focus {
  border-color: #28a745;
  box-shadow: none;
}

.form-contacto .btn {
  width: 100%;
  padding: 0.75rem;
  font-weight: bold;
}
