//Variables 
$color-principal: #ffffff;
$color-secundario: rgb(0, 0, 0);
$color-marca: rgb(221, 161, 98);
$gris-suave: rgba(134, 116, 116, 0.24);
$sombra-suave: rgba(0, 0, 0, 0.1);
$sombra-fuerte: rgba(0, 0, 0, 0.2);
$color-footer-fondo: rgba(128, 125, 125, 0.685);

$padding-footer: 1rem;

//Tipografía
$fuente: "Open Sans", sans-serif;

//Medidas
$ancho-logo: 5rem;
$tamano-logo-footer: 5rem;